/* @media screen and (max-device-width:938px){
    .pizzapic{
        width:unset;
        height: 25%;
        border: 7px solid yellow;
    }
    
} */
@media only screen and (max-width:1045px){
   
        .pizzapic {
            width: 170px;
            height: 264px;
        }
        .menupic{
            width: 80%;
        }
        .btsubtitle{
            width: 100%;
        }
        .section1{ 
            margin: 0;
            padding: 0;
            /* flex-direction: column; */
            align-items: center;
        }
        .headline{
            font-size: 12px;
        }
        .pizzalistitemall {
            margin-bottom: 8px;
        }

}